@charset "utf-8";

body {
  text-align: center;
  margin-top: 30px;
}

#header,#calc{
  box-sizing: border-box;
  text-align: center;
}

/*#calc{*/
/*  height: 30px;*/
/*  border: solid 2px;*/
/*  background-color: #e4e4e4;*/
/*  margin-bottom: 5px;*/
/*}*/



input{
  box-sizing: border-box;
  width: 30%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}

button{
  font-size: 18px;
  width: 10%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  border-color: #fff;
}

.equal{
  width: 20%;
}

button:hover{
  background-color: #ddd;
}